*,
*::before,
*::after {
  box-sizing: border-box;
}

/* WebGL & Canvas */
.webgl,
canvas {
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/* WebGL */
.webgl {
  position: absolute;
  outline: none;
  z-index: -1;
}

canvas {
  position: fixed;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 70%;
  min-height: calc(100vh - 40px);
}

@media (max-width: 768px) {
  .hero {
    width: 95%;
  }
}

.hero-header {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.hero h1,
.hero h2 {
  position: absolute;
  left: 0;
  z-index: 10;
}

.hero h1 {
  top: 0;
}

.hero h2 {
  top: 10px;
}

/* Projects */
@media (max-width: 900px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .projects {
    grid-template-columns: 1fr;
    padding-left: 10px;
    padding-right: 10px;
    justify-items: center;
    align-items: center;
  }
}

.projectsSection {
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.projectsContent {
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 200px 0px 200px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  width: 100%;
  max-width: 900px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.projects {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(auto-fit, minmax(300px, max-content));
  gap: 100px;
  justify-content: center;
  padding: 0 20px;
  margin: 0 auto;
}


.projects img {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}

.project {
  width: 100%;
  display: flex;
  max-width: 400px;
  flex-direction: column;
}

.project h3 {
  padding: 10px 0px 10px 0px;
  font-weight: 600;
}

.project p {
  font-weight: 400;
  color: #5C5C5C;
}

.project p,
.project h3 {
  text-align: start;
  padding-left: 2px;
}

.project a {
  cursor: default;
  cursor: none;
  text-decoration: none;
  color: inherit;
  display: block;
}

.project img {
  width: 100%;
  height: auto;
}

.project a:hover {
  opacity: 0.8;
}

.project a:visited {
  color: inherit;
}

/* Footer */
footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  color: white;
}

footer h2,
footer p,
footer a {
  color: white;
}

footer p {
  height: 100%;
}

footer h2 {
  align-self: center;
}

footer button {
  width: 120px;
  height: 60px;
  align-self: center;
  padding: 10px;
  margin: 40px 0px 100px 0px;
  font-size: 1rem;
}

/* About Section */
.aboutSection {
  padding: 80px 0 0 0;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0px 0px 50px 0px;
  gap: 60px;
}

.aboutText {
  display: flex;
}

.gap {
  gap: 10px;
}

.aboutContent img {
  max-width: 250px;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.aboutContent p {
  flex: 1;
  font-size: 1.1rem;
}

.copyright {
  align-self: center;
  font-size: 0.8rem;
}

@media (max-width: 600px) {
  .aboutContent {
    flex-direction: column;
    text-align: center;
  }
}

/* Custom Cursor */
.custom-cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 2;
  transition: width 0.2s ease-out, height 0.2s ease-out, transform 0.2s ease-out;
  mix-blend-mode: difference;
  background-color: white;
  transform-origin: center;
}

.custom-cursor.hovered {
  width: 26px;
  height: 26px;
  -moz-transform: scale(--mouseScale);
  -webkit-transform: scale(--mouseScale);
  -o-transform: scale(--mouseScale);
  -ms-transform: scale(--mouseScale);
  -webkit-transform: scale(--mouseScale);
  transform: scale(--mouseScale);
  transition: width 0.25s ease-out, height 0.25s ease-out;
}


/* Typing Cursor */
.typing-cursor {
  visibility: visible;
  display: inline-block;
  width: 2.5px;
  height: 1em;
  background-color: white;
  opacity: 1;
  animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
  0% {
    background-color: white;
  }

  50% {
    background-color: black;
  }

  100% {
    background-color: white;
  }
}

.blink {
  visibility: visible;
  animation: blink 1s step-start infinite;
}

#typing-effect-1,
#typing-effect-2 {
  visibility: hidden;
  position: relative; 
}


#typing-effect-2 {
  visibility: hidden;
}

body {
  visibility: hidden;
}

body.loaded {
  visibility: visible;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}